/* JoinIeee.css */

.join-container {
  max-width: 500px;
  margin: 0 auto;
  padding: 0 20px; /* Add padding for smaller screens */
}

.join-form {
  display: flex;
  flex-direction: column;
}

.join-form input,
.join-form textarea {
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%; /* Make inputs and textarea full width */
}

.join-form button {
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%; /* Make button full width */
}

.join-form button:hover {
  background-color: #0056b3;
}

/* Media query for smaller screens */
@media screen and (max-width: 768px) {
  .join-container {
      padding: 0; /* Remove padding on smaller screens */
  }
}
