.team {
  /* display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px; */
}
.items12 {
  margin: 20px;
  width: 400px;
  height: 550px;
  transition: 0.5s;
  border-radius: 15px; /* Rounded corners */
  background-color: rgba(255, 255, 255, 0.1); /* Glassmorphism effect */
  backdrop-filter: blur(10px); /* Glassmorphism effect */
  box-shadow: 0 4px 16px rgba(31, 38, 135, 0.37); /* Shadow */
  padding: 20px; /* Decrease padding */
}

.team .img {
  position: relative;
}

.team img {
  width: 100%;
  height: 100%;
  border-radius: 15px; /* Rounded corners */
}

.overlay {
  position: absolute;
  bottom: 0;
  z-index: 11;
  display: flex;
  flex-direction: column;
  padding: 20px;
  opacity: 0;
  transition: 0.5s;
}

.overlay i {
  background-color: #000;
  color: #fff;
  margin: 5px;
  transition: 0.5s;
}

.team .details {
  padding: 30px;
  text-align: center;
}

.team .details h2 {
  font-weight: 500;
  font-size: 20px;
  transition: 0.5s;
}

.team .details p {
  font-size: 15px;
  color: grey;
  margin-top: 10px;
  transition: 0.5s;
}

.team .items12:hover {
  background-color: #1eb2a6;
  color: #fff;
  cursor: pointer;
}

.team .items12:hover p {
  color: #fff;
}

.team .items12:hover .overlay {
  opacity: 1;
}

.team .items12:hover .overlay i:hover {
  background-color: #1eb2a6;
  color: #fff;
}
.teamflex12{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; /* Adjust as needed */
    padding: 10px; /* Adjust padding as needed */
    height: auto;
}
.pageflex{
  height: auto;
  max-width: 100vw;
  display: flex;
  justify-content: center;
}

/* Adjustments for smaller screens */
@media (max-width: 750px) {
  .items12 {
    width: calc(100% - 40px); /* Adjust width to fit screen */
    margin: 10px 20px; /* Adjust margin to create space */
    height: auto; /* Adjust height to fit content */
  }
  .details12 p {
    display: none; /* Hide details on smaller screens */
  }
}
